@model MicroSocialPlatform.Models.Post
@{
    ViewBag.Title = "Edit";
}

<div class="panel panel-default">
    <div class="panel-heading">
        Modify post
    </div>

    <div class="panel-body">
        @using (Html.BeginForm(actionName: "Edit", controllerName: "Posts"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <br />
    @Html.Label("Content", "Modified post")
         <br />
    @Html.TextArea("Content", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger " })
    <br />
    <button type="submit" class="btn btn-sm stn-succes">Save</button>

}

    </div>
</div>